---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-throwing-static-initialization,
  -bugprone-suspicious-stringview-data-usage,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -google-default-arguments,
  -google-explicit-constructor,
  -google-build-using-namespace,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-implicit-bool-conversion,
  -readability-redundant-access-specifiers,
  -readability-redundant-member-init,
  -readability-named-parameter,
  -readability-math-missing-parentheses,
  -portability-avoid-pragma-once,
  -portability-template-virtual-member-function,
HeaderFilterRegex: '(public|private|internal).+\.(h|hpp|inl)$'
WarningsAsErrors: '*'
CheckOptions:
  - { key: readability-identifier-naming.ClassCase,               value: CamelCase }
  - { key: readability-identifier-naming.StructCase,              value: CamelCase }
  - { key: readability-identifier-naming.FunctionCase,            value: camelBack }
  - { key: readability-identifier-naming.ConstexprVariableCase,   value: camelBack }
  - { key: readability-identifier-naming.ClassMethodCase,         value: camelBack }
  - { key: readability-identifier-naming.MethodCase,              value: camelBack }
  - { key: readability-identifier-naming.ClassMemberCase,         value: camelBack }
  - { key: readability-identifier-naming.ClassMemberPostfix,      value: _         }
  - { key: readability-identifier-naming.VariableCase,            value: camelBack }
  - { key: readability-identifier-naming.LocalVariableCase,       value: camelBack }
  - { key: readability-identifier-naming.ParameterCase,           value: camelBack }
  - { key: readability-identifier-naming.StructMemberCase,        value: camelBack }
  - { key: readability-identifier-naming.PrivateMemberCase, 	  value: camelBack }
  - { key: readability-identifier-naming.PrivateMemberSuffix, 	  value: _ }
...
